<section class="content">
    <div ng-show="page.title == 'Contact'">
        <div class="panel panel-default">
            <div class=" col-lg-6">
                <div ng-controller="ContactCtrl" class="panel-body">
                    <form name="contactForm" ng-submit="reviewForm.$valid && ContactCtrl.send(contactForm)" novalidate>
                        <div class="form-group">
                            <label for="exampleInputName">Name</label>
                            <input ng-model="ContactCtrl.form.name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input ng-model="ContactCtrl.form.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputMessage">Message</label>
                            <textarea ng-model="ContactCtrl.form.message" id="exampleInputMessage" class="form-control" rows="3" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-bind-html="page.content"> {{ page.content }}</div>
</section>
